<!-- begin header -->
<header class="header js-header">
	<div class="header__overlay js-header-overlay"></div>
	<div class="header__inner inner">
		<!-- begin logos -->
		<a href="#" class="logo js-logo">
			<span class="logo__symbol"><img src="./img/logo-m.png" alt="img"></span>
			<img class="logo__descrription js-logo-descrription" src="./img/logo-description.png" alt="img">
			<img class="logo__musictown js-logo-text" src="./img/musictown.png" alt="img">
			<img class="logo__records js-logo-text" src="./img/records.png" alt="img">
		</a>
		<!-- end logos -->
		<!-- begin navigation -->
		<nav class="navigation js-navigation">
			<ul class="menu js-menu">
				{% for text in ['Артисты', 'Релизы', 'Фото', 'Видео', 'О нас', 'События', 'Авторам', 'Контакты'] %}
				<li class="menu__item"><a href="#" class="menu__link">{{ text }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		<!-- end navigation -->
		<!-- begin btn-menu -->
		<button class="btn-menu js-btn-menu">
			<span class="btn-menu__line"></span>
			<span class="btn-menu__line"></span>
			<span class="btn-menu__line"></span>
		</button>
		<!-- end btn-menu -->
	</div>
</header>
<!-- end header -->