<!-- begin hero -->
<div class="hero">
	<div class="hero__bg" style="background-image: url(./img/hero-bg.jpg);"></div>
	<div class="hero__inner inner">
		<!-- begin slider -->
		<div class="slider js-slider">
			<div class="slider__slide">
				<div class="slider__wrap">
					<h1 class="slider__title title-lg">Billboard's Year-End Charts Revealed!</h1>
					<p>Billboard has released its year-end lists for 2016; Adele rules as Top Artist (again!) and Justin Bieber leads the Hot 100!</p>
					<div class="slider__footer">
						<a href="#" class="btn">{{ mixins.icon('play') }}Слушать</a>
					</div>
				</div>
			</div>
			<div class="slider__slide">
				<div class="slider__wrap">
					<h1 class="slider__title title-lg">Billboard's Year-End Charts Revealed!22</h1>
					<p>Billboard has released its year-end lists for 2016; Adele rules as Top Artist (again!) and Justin Bieber leads the Hot 100!</p>
					<div class="slider__footer">
						<a href="#" class="btn">{{ mixins.icon('play') }}Слушать</a>
					</div>
				</div>
			</div>
			<div class="slider__slide">
				<div class="slider__wrap">
					<h1 class="slider__title title-lg">Billboard's Year-End Charts Revealed!33</h1>
					<p>Billboard has released its year-end lists for 2016; Adele rules as Top Artist (again!) and Justin Bieber leads the Hot 100!</p>
					<div class="slider__footer">
						<a href="#" class="btn">{{ mixins.icon('play') }}Слушать</a>
					</div>
				</div>
			</div>
			<div class="slider__slide">
				<div class="slider__wrap">
					<h1 class="slider__title title-lg">Billboard's Year-End Charts Revealed!33</h1>
					<p>Billboard has released its year-end lists for 2016; Adele rules as Top Artist (again!) and Justin Bieber leads the Hot 100!</p>
					<div class="slider__footer">
						<a href="#" class="btn">{{ mixins.icon('play') }}Слушать</a>
					</div>
				</div>
			</div>
		</div>
		<!-- end slider -->
		
	</div>
</div>
<!-- end hero -->