<!-- begin releases -->
<div class="releases">
	<div class="releases__inner inner">
		<h2 class="releases__title title-md">Релизы</h2>
		<div class="releases__row">
			{{ card.call( { class: 'releases__card' } ) }}
			{{ card.call( { class: 'releases__card' } ) }}
			{{ card.call( { class: 'releases__card' } ) }}
			{{ card.call( { class: 'releases__card' } ) }}
		</div>
		<div class="releases__footer">
			<a href="#" class="btn btn_blue">Все релизы{{ mixins.icon('arrow-right') }}</a>
		</div>
	</div>
</div>
<!-- end releases -->