.icon-arrow-right {
  width: 1.36em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-next {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-pause {
  width: 0.75em;
  height: 1em;
  fill: currentColor;
}
.icon-play {
  width: 0.89em;
  height: 1em;
  fill: currentColor;
}
.icon-prev {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
